* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 11px;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #fce483;
  text-align: center;
}

h1{
    font-size: 3rem;
    margin: 2rem 0;
}

p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

a{
    color: #080;
    font-size: 1.6rem;
    padding: 1.5rem;
}

img{
    min-width: 40%;
    max-width: 60%;
    border-radius: 1rem;
    display: block;
    margin: 2.5rem auto;
}

.mail{
    padding: 0;
}